*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    font-family: arial;
}



header{
    box-shadow: 1px 1px 4px gray;
}
.border{
    border: 1px solid red;
}
.navbar{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.nav{
    width: 50%;

    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    font-size: 18px;
}


.nav a{
    padding: 2px 7px;
    text-decoration: none;
    color: gray;
}

.nav a:hover{
    color: black;
}

.btn-login{
    padding: 4px 8px ;
    background-color: orange;
    color: white;
    border-radius: 4px;
    border: 2px solid transparent;
    font-size: 18px;
    
}

.btn-login:hover{
    background-color: white ;
    border: 2px solid orange;
    color: orange;
}




/* banner sesstion staretd */


.container{

    max-width: 1320px;
    margin: auto;
    margin-top: 100px;
}


.about-head{
    text-align: center;
}
.main{
    display: flex;
}
.main >div{
    width: 50%;
    padding: 20px;
}

.main-img img{
    width: 100%;
}

.main-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:40px
}