

*{
    box-sizing: border-box;
}



h1{
    display: inline;
}

h2{
    display: inline;
}

.para{
    display: inline;
    border: 1px solid blue;
    width: 200px;
    height: 200px;
    background-color: gainsboro;
    
}



.bold1{
    display: block;
    padding: 40px;
    background-color: aquamarine;
}

.bold2{
    padding: 40px;
    background-color: antiquewhite;
}

.box{
    width: 200px;
    height: 200px;
    background-color: lightblue;
    border:1px solid white ;
   display: inline-block;
   margin: auto;
}

.box1{
    display:block;

}

.box2{ 
    display: inline-block;
}
.box3{ 
    display: inline-block;
}
.box4{

}

.bxa{
    margin-left: auto;
    width: fit-content;
}

.bx{
    height: 150px;
    width: 150px;
    background-color: lightgreen;
    border: 1px solid white;
   display: inline-block;
}

